/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 nov. 2023, 11:57:55
    Author     : SOLENN.PRETESEILLE
*/
 
@import url(https://fonts.googleapis.com/css?family=Roboto);





#monTitre{
 color:#2ECC71;
 font-size:50pt;
 font-family: "Arial Black";
 text-align:center;
 
}

#monImage{
 text-align:center;
 
}

#monTexte{
 color:white;
 font-size:10pt;
 font-family: "Arial Black";
 text-align:center;
}


#mesinfos{
 color:white;
 font-size:10pt;
 font-family: "Arial Black";
 text-align:center;
 background-color: #2ECC71;
}




.menu li {

    list-style-type: none ;       /* Suppression des puces */    

}





.menu {

    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    background-color: #iy;     /* Ajout de la couleur d'arrière-plan */
    justify-content: center     /* Alignements des liens dans le menu */

}



.menu a {

    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   

    
    margin: 2rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.5rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color:#2ECC71;    /* Arrière-plan */
    color:white ;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid white;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */

}
.menu label {

    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   

    
    margin: 2rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.5rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color:#2ECC71;    /* Arrière-plan */
    color:white ;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid white;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */

}





/*.menu a.actif {    

    background-color: #8A8A8A ; 

    color: black ;

    border-color: black ;

}*/

.menu a:hover,
.menu a:hover.actif{
  background-color: #2ECC71;
  color: white;
  border-color: white;
}
.menu label:hover,
.menu label:hover.actif{
  background-color: #2ECC71;
  color: white;
  border-color: white;
}



input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

input[type="checkbox"]:checked + label{
  background-color: black;
  color: white;
  border-color: white;
}





body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4, 
.noot-5,
.noot-6,
.noot-7,
.noot-8,
.noot-9,
.noot-10{
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 50px;
  opacity: 0;
}

.noot-1 {
  top: 400px;
  left: 0;
  animation-delay: 0.5s;
  
}

.noot-2 {
  top: 500px;
  right: 0%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 20%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  right: 20%;
  animation-delay: 2s;
}

.noot-5 {
  top: 600px;
  left: 50%;
  animation-delay: 2.5s;
}

.noot-6 {
  top: 20px;
  right: 50%;
  animation-delay: 3s;
}

.noot-7 {
  top: 60px;
  left: 80%;
  animation-delay: 2.5s;
}

.noot-8 {
  top: 350px;
  right: 80%;
  animation-delay: 2s;
}

.noot-9 {
  top: 600px;
  left: 100%;
  animation-delay: 1.5s;
}

.noot-10 {
  top: 10px;
  right: 100%;
  animation-delay: 1s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

  color: white;
  border-color: white;
}

